{
	"presets": [
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "usage", // or "entry"
				"corejs": 3
			}
		]
	],
	"plugins": [
		[
			"@babel/transform-runtime",
			{
				"corejs": 3
			}
		],
		["module-resolver", {
			"root": "./src",
			"alias": {
				"js": "./src/js",
				"api": "./src/js/api",
				"searchModal": "./src/js/searchModal",
				"utils": "./src/js/utils"
			}

		}]
	]
}