{
	"presets": [
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "usage", // or "entry"
				"corejs": 3
			}
		]
	],
	"plugins": [
		[
			"@babel/transform-runtime",
			{
				"corejs": 3
			}
		]
	]
}