{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/plugin-transform-runtime"],
    [
      "module-resolver",
      {
        "root": "./src",
        "alias": {
          "js": "./src/js",
          "utils": "./src/utils",
          "apis": "./src/apis"
        }
      }
    ]
  ]
}
