@import "./shared/index.css";
@import "./ui/index.css";

html,
body {
  margin: 0;
  height: 100%;
  font-size: 16px;
}

#app {
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.opacity-hover {
  opacity: 0.3;
}

.opacity-hover:hover {
  opacity: 1;
}


span.middle {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}

span.middle + * {
  display: inline-block;
  vertical-align: middle;
}
