<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <title>👩🏻‍💻 수여닝 유튜브 강의실</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../styles/index.css" />
    <link rel="stylesheet" href="../styles/ui/index.css" />
    <link rel="stylesheet" href="../styles/ui/modules/chip.css" />
    <link rel="stylesheet" href="../styles/ui/modules/modal.css" />
    <link rel="stylesheet" href="../styles/ui/modules/youtubeCard.css" />
    <link rel="stylesheet" href="../styles/shared/index.css" />
    <link rel="stylesheet" href="../styles/shared/modules/background.css" />
    <link rel="stylesheet" href="../styles/shared/modules/border.css" />
    <link rel="stylesheet" href="../styles/shared/modules/button.css" />
    <link rel="stylesheet" href="../styles/shared/modules/flex.css" />
    <link rel="stylesheet" href="../styles/shared/modules/interactivity.css" />
    <link rel="stylesheet" href="../styles/shared/modules/layout.css" />
    <link rel="stylesheet" href="../styles/shared/modules/sizing.css" />
    <link rel="stylesheet" href="../styles/shared/modules/spacing.css" />
    <link rel="stylesheet" href="../styles/shared/modules/table.css" />
    <link rel="stylesheet" href="../styles/shared/modules/typhography.css" />
  </head>
  <body>
    <div id="app">
      <div class="d-flex justify-center mt-5 w-100">
        <div class="w-100">
<!--          Header 영역-->
            <script src="../Controllers/renderView/renderHeader.js"></script>
<!--          Videos 영역-->
            <script src="../Controllers/renderView/renderVideos.js"></script>
        </div>
      </div>
<!--      Modal 영역-->
      <div class="modal">
        <script src="../Controllers/renderView/renderModal.js"></script>
      </div>
    </div>
<!--    TODO : js 디렉토리 전체를 한번에 임포트하는 방법 찾아보기-->
<!--    parcel 환경에서는 type module 로 하면 동작하지 않는다고 함-->
    <script src="../Controllers/handleModal.js"></script>
    <script src="../Controllers/search.js"></script>
  </body>
</html>
