.skeleton {
  width: 236px;
  height: 300px;
}

.skeleton .image,
.skeleton .line,
.skeleton .btn {
  background-image: linear-gradient(
    90deg,
    #e0e0e0 0px,
    #ededed 30px,
    #e0e0e0 60px
  );
  animation: refresh 2s infinite ease-out;
}

.skeleton .image {
  height: 118px;
  margin-bottom: 0.5rem;
}

.skeleton .line {
  height: 16px;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.skeleton .line:nth-child(2),
.skeleton .line:nth-child(3) {
  width: 100%;
}

.skeleton .line:nth-child(4) {
  height: 12px;
  width: 30%;
}

.skeleton .line:nth-child(5) {
  height: 12px;
  width: 50%;
  margin-bottom: 0.5em;
}

.skeleton .btn {
  width: 50px;
  height: 36px;
  float: right;
  padding: 0;
  border-radius: 4px;
}

@keyframes refresh {
  0% {
    background-position: calc(-100px);
  }
  40%,
  100% {
    background-position: 320px;
  }
}
