@import "./shared/index.css";
@import "./ui/index.css";

html,
body {
  margin: 0;
  height: 100%;
  font-size: 16px;
}

#app {
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.opacity-hover {
  opacity: 0.3;
}

.opacity-hover:hover {
  opacity: 1;
}

.skeleton {
  width: 236px;
    background-image: linear-gradient(
            90deg,
            #e0e0e0 0px,
            #ededed 30px,
            #e0e0e0 60px
    );
    animation: refresh 2s infinite ease-out;
}

@keyframes refresh {
    0% {
        background-position: calc(-100px);
    }
    40%,
    100% {
        background-position: 320px;
    }
}